version: '3.9'

services:
  ml-flow:
    container_name: ml-flow
    build:
      context: ./mlflow/serveurmlflow
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    networks:
      - fraud-network
    environment:
      - PORT=4000
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - BACKEND_STORE_URI=${BACKEND_STORE_URI}
      - ARTIFACT_ROOT=${ARTIFACT_ROOT}
    env_file:
      - .env

  fraud-etl-app:
    container_name: fraud-etl-app
    build:
      context: ./app
      dockerfile: Dockerfile
    depends_on:
      - ml-flow
    networks:
      - fraud-network
    environment:
      - MLFLOW_TRACKING_URI=http://ml-flow:4000
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - BACKEND_STORE_URI=${BACKEND_STORE_URI}
      - ARTIFACT_ROOT=${ARTIFACT_ROOT}
      - BUCKET_NAME=${BUCKET_NAME}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
      - PGHOST=${PGHOST}
      - PGDATABASE=${PGDATABASE}
      - PGUSER=${PGUSER}
      - PGPASSWORD=${PGPASSWORD}
      - PGSSLMODE=${PGSSLMODE}
      - PGCHANNELBINDING=${PGCHANNELBINDING}
    env_file:
      - .env

networks:
  fraud-network:
    driver: bridge