name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:
    name: Run Tests
    runs-on: ubuntu-latest

    env:
      MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI_test }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_test }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_test }}
      BACKEND_STORE_URI: ${{ secrets.BACKEND_STORE_URI_test }}
      ARTIFACT_ROOT: ${{ secrets.ARTIFACT_ROOT_test }}
      BUCKET_NAME: ${{ secrets.BUCKET_NAME_test }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION_test }}
      # PGHOST: ${{ secrets.PGHOST_test }}
      # PGDATABASE: ${{ secrets.PGDATABASE_test }}
      # PGUSER: ${{ secrets.PGUSER_test }}
      # PGPASSWORD: ${{ secrets.PGPASSWORD_test }}
      # PGSSLMODE: ${{ secrets.PGSSLMODE }}
      # PGCHANNELBINDING: ${{ secrets.PGCHANNELBINDING }}
      SILVER_PREFIX: ${{ secrets.SILVER_PREFIX_test }}
      GOLD_PREFIX: ${{ secrets.GOLD_PREFIX_test }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tests/requirements.txt
      
      - name: Run conformity tests with pytest
        run: |
          export PYTHONPATH="${PYTHONPATH}:${GITHUB_WORKSPACE}"
          pytest tests/ -v --cov=. --cov-report=term-missing
        env:
          PYTHONPATH: ${{ github.workspace }}


  build:
    name: Build and Deploy Containers
    runs-on: ubuntu-latest
    needs: test

    env:
      MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      BACKEND_STORE_URI: ${{ secrets.BACKEND_STORE_URI }}
      ARTIFACT_ROOT: ${{ secrets.ARTIFACT_ROOT }}
      BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      # PGHOST: ${{ secrets.PGHOST }}
      # PGDATABASE: ${{ secrets.PGDATABASE }}
      # PGUSER: ${{ secrets.PGUSER }}
      # PGPASSWORD: ${{ secrets.PGPASSWORD }}
      # PGSSLMODE: ${{ secrets.PGSSLMODE }}
      # PGCHANNELBINDING: ${{ secrets.PGCHANNELBINDING }}
      SILVER_PREFIX: ${{ secrets.SILVER_PREFIX }}
      GOLD_PREFIX: ${{ secrets.GOLD_PREFIX }}
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Build Docker image
      run: |
        docker build -t my-etl:latest ./app

    - name: Run container
      run: |
        docker run -d \
          --name my-etl-container \
          -e MLFLOW_TRACKING_URI="${{ secrets.MLFLOW_TRACKING_URI }}" \
          -e AWS_ACCESS_KEY_ID="${{ secrets.AWS_ACCESS_KEY_ID }}" \
          -e AWS_SECRET_ACCESS_KEY="${{ secrets.AWS_SECRET_ACCESS_KEY }}" \
          -e BACKEND_STORE_URI="${{ secrets.BACKEND_STORE_URI }}" \
          -e ARTIFACT_ROOT="${{ secrets.ARTIFACT_ROOT }}" \
          -e BUCKET_NAME="${{ secrets.BUCKET_NAME }}" \
          -e AWS_DEFAULT_REGION="${{ secrets.AWS_DEFAULT_REGION }}" \
          -e PGHOST="${{ secrets.PGHOST }}" \
          -e PGDATABASE="${{ secrets.PGDATABASE }}" \
          -e PGUSER="${{ secrets.PGUSER }}" \
          -e PGPASSWORD="${{ secrets.PGPASSWORD }}" \
          -e PGSSLMODE="${{ secrets.PGSSLMODE }}" \
          -e PGCHANNELBINDING="${{ secrets.PGCHANNELBINDING }}" \
          my-etl:latest
      
    - name: Wait for containers to be ready
      run: |
        sleep 60
        docker ps
      
    - name: Check container logs
      run: |
        docker logs my-etl-container
